body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/*Cualquier elemento al que le damos un width fijo, con margin:auto se centra*/
.contenedor {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

header {
  background-image: url(imagenes/ondas.png), linear-gradient(237deg, #46b3ff 0%, #0752fe 100%);
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 850px;
  background-size: contain;
}

.menu {
  background: #fff;
  padding: 9px 20px;
}

.menu .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 23px;
  font-weight: bold;
  color: #000;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000
}

header .contenedor-inicio {
  display: flex;
  justify-content: center;
  margin: 9vh 0;
}

header .titular, header .imagen {
  width: 40%;
}

header h1 {
  font-family: 'Rubik';
  font-size: 52px;
  color: #fff;
  text-shadow: 1px 2px 50px #000;
}

header p {
  color: #fff;
  line-height: 30px;
}

header img {
  width: 100%;
}

.boton {
  background: #253547;
  color: #fff;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.2);
  /*Al darle margin-x a un elemento cualquiera de línea (como lo es un anchor), si no pones el "display:inline-block" no le afectará ningún margin*/
  margin-top: 20px;
  display: inline-block;
}
